.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .categories button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
  }
  
  .categories button.active {
    color: #ff385c;
    font-weight: bold;
  }
  
  .categories button::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .categories button.active::after {
    background-color: #ff385c;
  }
  
  .categories button:hover {
    color: #ff385c;
  }
  
  .categories button.active:hover {
    color: #ff385c;
  }
  